*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

.center{
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
}

.clear{clear: both;}

header{
	background-color: #385898;
	padding: 8px 0;
	height: auto;
}

.logo{
	float: left;
	color: white;
}
.logo h2{
	font-size: 40px;
	font-weight: bold;
	margin-top: 15px;
	
	zoom: 1;
}

form.form-login{
	float: right;
	margin-top: 10px;
}

.form-login .form-element{
	display: inline-block;
	margin-right: 15px;
}

.form-element p{
	color: white;
	font-size: 12px;
	margin-bottom: 5px;
}

.form-element input[type=email],
.form-element input[type=password]{
	border: 0;
	height: 20px;
	padding-left: 4px;
	outline: none;
}

.form-element input[type=submit]{
	cursor: pointer;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 6px;
	text-decoration: none;
	background: rgb(66,103,178);
	border: 1px solid #29487d;
	border-radius: 2px;
	outline: none;
}

.form-element input[type=submit]:hover{
	background: #4267b2;
}

.recuperar{
	float: right;
	margin-right: 125px;
	margin-top: 3px;
	color: #9cb4d8;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
}

section.main{
	background:linear-gradient(white, #D3D8E8);
	padding: 20px 0;
}

.img-pessoas{
	float: left;
	width: 60%;
}

.img-pessoas p{
	color: #0e385f;
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	margin-top: 18px;
	width: 450px;
	padding: 0 2%;
	word-spacing: -1px;
}

.img-pessoas img{
	max-width: 100%;
}

.abrir-conta{
	width: 40%;
	float: left;
}

.abrir-conta h2{
	color: black;
	font-size: 38px;
}
.abrir-conta h3{
	font-size: 19px;
	color: rgb(30, 30, 30);
	margin-top: 8px;
	font-weight: normal;
}

form.criar-conta{
	margin-top: 10px;
}

.w50{
	width: 50%;
	padding: 0 5px;
	float: left;
}

.w100{
	padding: 0 5px;
	width: 100%;
	float: left;
}

form.criar-conta input{
	width: 100%;
	margin-top: 8px;
	outline: none;
}

form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password]{
	height: 40px;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 20px;
	border: 1px solid #bdc7d8;
	border-radius: 4px;
}

form.criar-conta input[type=submit]{
	height: 40px;
	background: linear-gradient(#67ae55, #578843);
	color: white;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	border-color: #3b6e22 #2c5115;
	max-width: 194px;
	font-size: 19px;
	outline: none;

}

form .w100 h2{
	margin-top: 10px;
	color: #90949c;
	font-size: 16px;
}

select{
	float: left;
	margin-top: 5px;
	font-size: 13px;
	height: 30px;
	padding: 5px;
	border: 1px solid #ccd0d5;
}

.input-radio{
	margin: 8px 10px;
	float: left;
}
.input-radio h2{
	display: inline-block;
}

.input-radio input[type=radio]{
	width: auto !important;
	display: inline-block;
}

.input-radio h2{
	margin-top: 5px !important;
	color: #1d2129 !important;
	font-size: 18px !important;
	font-weight: normal !important;
	line-height: 18px !important;
}

form img{
	width: 50%;
	height: 50%;
	margin-left: 15px;
	max-width: 20px;
}

.interrogação{
	font-size: 14px;
	color: white;
	margin-left: 10px;
	background-color: #777;
	width: 17px;
	height: 17px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.interrogação-date{
	float: left;
	margin-top: 5px;
	font-size: 14px;
	color: white;
	margin-left: 10px;
	background-color: #777;
	width: 17px;
	height: 17px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}

.p-style{
	margin: 10px 0;
	color: #777;
	font-size: 11px;
	font-weight: bold;
	width: 316px;
}
.p-style a{
	color: #385898;
	cursor: pointer;
	text-decoration: none;
}
.p-style a:hover{
	text-decoration: underline;
}

.p-style2{
	color: #666;
	margin: 30px 0 15px 0;
	font-weight: 700;
}

.p-style2 a{
	color: #385898;
	cursor: pointer;
	text-decoration: none;
}

section.linguas{
	padding: 30px 0;
	background: white;
}

section.linguas a{
	font-size: 12px;
	color: #365899;
	text-decoration: none;
	padding-right: 10px;
}

section.linguas a.selected-lingua{
	color: #737373;
}

section.linguas .center{
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

footer div.center{
	border: 0 !important;
	margin-top: 10px;
}

span{
	font-size: 11px;
	font-weight: bold;
	color: #737373;
}

/* APLICANDO O RESPONSIVO */
@media screen and (max-width: 768px){
	.logo{
		float: none;
		width: 100%; 
		text-align: center;
	}

	form.form-login{
		margin-top: 10px;
		float: none;
		display: inline-block;
		width: 100%; 
		text-align: center;
	}

	.form-login .form-element{
		display: block;
		margin: 5px 0;
	}
	
	.form-element p{
		color: white;
		font-size: 12px;
		margin-bottom: 5px;
	}
	
	.form-element input[type=email],
	.form-element input[type=password]{
		width: 100%;
		max-width: 500px;
		border: 0;
		height: 30px;
		padding-left: 4px;
		outline: none;
	}

	.form-element input[type=submit]{
		width: 140px;
	}
	
	.img-pessoas{
		display: none;
	}

	.abrir-conta{
		width: 100%;
	}
	.recuperar{
		margin-right: 40%;
	}
}

@media screen and (max-width: 510px){
	.recuperar{
		margin-right: 37%;
	}
}